@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-800: #24053e;
    --neutral-600: #584d62;
    --neutral-100: #fcf8ff;
    --neutral-25: #fff;

    --primary-700: #44ffa1;

    --serif: "Fraunces", serif;
    --sans: "Manrope", sans-serif;
  }
}

@layer components {
  .w-layout-md {
    width: min(92%, 343px);

    @screen md {
      width: 35.8125rem;
    }

    @screen lg {
      width: 69.5rem;
    }
  }

  .heading-lg {
    font-size: 50px;
    line-height: 1;
    font-weight: 600;
    font-family: var(--serif);

    @screen md {
      font-size: 60px;
    }

    @screen lg {
      font-size: 80px;
    }
  }

  .heading-md {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 600;
    font-family: var(--serif);

    @screen md {
      font-size: 48px;
      line-height: 1.1666666666666666667;
    }

    @screen lg {
      font-size: 56px;
      line-height: 1.1428571428571428571;
    }
  }

  .heading-sm {
    font-size: 28px;
    line-height: 1.2857142857142857143;
    font-weight: 600;
    font-family: var(--serif);

    @screen lg {
      font-size: 32px;
      line-height: 1.25;
    }
  }

  .body-md {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    font-family: var(--sans);

    @screen lg {
      font-size: 18px;
      line-height: 1.7777777777777777778;
    }
  }

  .btn-primary {
    @apply px-6 py-3 bg-primary-700 text-neutral-800 inline-grid place-items-center leading-loose font-bold;
    @screen lg {
      padding: 1rem 2rem;
      line-height: 1.8125rem;
    }
  }

  .btn-primary:hover {
    outline: 2px solid var(--primary-700);
    background-color: transparent;
    color: var(--primary-700);
  }

  .icon-social-media {
    @apply h-5 w-5 bg-neutral-600 hover:bg-neutral-800 inline-block;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  .icon-social-media.facebook {
    mask-image: url(/images/icon-facebook.svg);
  }

  .icon-social-media.instagram {
    mask-image: url(/images/icon-instagram.svg);
  }

  .icon-social-media.twitter {
    mask-image: url(/images/icon-twitter.svg);
  }

  .radius-pattern {
    border-bottom-left-radius: 50% 1.125rem;
    border-bottom-right-radius: 50% 1.125rem;

    @screen md {
      border-bottom-left-radius: 50% 2.25rem;
      border-bottom-right-radius: 50% 2.25rem;
    }

    @screen lg {
      border-bottom-left-radius: 50% 4.5rem;
      border-bottom-right-radius: 50% 4.5rem;
    }
  }
}
